:root {
  font-size: 16px;

  --radius-default: clamp(0.5rem, 0.8em, 1rem);

  --space-tight: 0.1rem;
  --space-close: 0.5rem;
  --space-mid: 1rem;
  --space-away: 2rem;

  --pad-w-1: clamp(1rem, 2vw, 3rem);

  --color-text: #dbdada;
  --color-main: #1a1a1a;
  --color-sub-1: #131313;
  --color-sub-2: #303030;
  --color-sub-3: #3b3b3b;
  --color-sub-4: #111111;
  --color-backtext: #474646;
  --color-shadow: #111111;
  --transition-time-short: 0.5s;

}


#root {
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 64px;
  grid-gap: 0;
  color: var(--color-text);
}



button.start { background: rgb(63, 103, 63); }
button.stop  { background: rgb(113, 60, 60); }


.science-gothic-font {
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
}

.playwrite-no-font {
  font-family: "Playwrite NO", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

button {
  font-family: "Oswald", sans-serif;
  font-weight: 550;
  font-optical-sizing: auto;
}



.hidden {
  visibility: hidden;
}


nav {
  display: flex;
  flex-direction: row;
  background-color: rgb(20, 20, 20);
  position: sticky;
  top: 0;  
  overflow: scroll;
}

nav p {
  margin: auto 5px;
  padding: 0.4em 3em;
  background-color: #222222;
  border-radius: 10px;
}

.current {
  padding: 1em 3em;
  background-color: #222222;
}


.task-plateau {
  width: 60%;
  height: 100%;
}


.inline-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}


.presence-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #232323;
}

.pomodoro-box {
  background-color: #3e3e3e;
  border-radius: 5px;
  margin: 5px;
  
}
.pomodoro-box button {
  background-color: #3e3e3e;
  transition: all var(--transition-time-short);
}
.pomodoro-box button:hover {
  border-color: #3e3e3e;
  background-color: rgb(53, 53, 53)
}

.pomodoro-box:hover {
  border: 1px blue;
}

.time-input {
  padding: 0.25em 0.4em; 
  width: 5ch;
  padding: 0.2em;
  text-align: center;
  font-size: 1rem;
  margin: 2px;

  border: none;
  outline: none;
  background-color: #292929;
  border-radius: 6px;

  box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.time-input:hover {
  background-color: #252525;
}

.time-input:focus {
  background-color: #202020;
}

.duration-set {

}


.time-display {

}