#root {
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.task-container {
  margin: 0 auto;
}



.read-the-docs {
  color: #888;
}

.task-card {
  background: #303030;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 0px 0px 7px #0f0f0f;
  min-width: 400px;
  font-size: larger;
  cursor: pointer;
}

.selected-task {
  background: #3e3e3e;
}

.bottom-bar {
  background: #3e3e3e;
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  
  margin: 0;
  box-shadow: 0px -2px 10px #131313;
}

.bottom-bar .selected-task-panel {
  margin: 10px;
  font-size: larger;
}

.control-panel {
  background: #333333;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 7px #232323;
  margin: 10px;
  padding: 5px;
}


button.start { background: rgb(63, 103, 63); }
button.stop  { background: rgb(113, 60, 60); }


.science-gothic-font {
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
}

.task {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

.playwrite-no-font {
  font-family: "Playwrite NO", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

button {
  font-family: "Oswald", sans-serif;
  font-weight: 550;
  font-optical-sizing: auto;
}


.selected-task .task-input {
  background-color: #3e3e3e;
}

.task-input {
  width: 90%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  border: none;
  padding: 3px;
  background-color: #303030;
  text-align: center;
  font-size: larger;
  caret-color: transparent;
  cursor: pointer;
}

.task-input:focus {
  border: none;
  outline: none;
}

.hidden {
  visibility: hidden;
}