#root {
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 64px;
  grid-gap: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.task-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #333333;
  height: 50vh;
  overflow: scroll;
}

.read-the-docs {
  color: #888;
}

.task-card {
  background: #303030;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 0px 0px 7px #0f0f0f;
  width: 90%;
  max-width: 600px;
  font-size: larger;
  cursor: pointer;
}

.selected-task {
  background: #3e3e3e;
}

.bottom-bar {
  background: #3e3e3e;
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  
  margin: 0;
  box-shadow: 0px -2px 10px #131313;
}

.bottom-bar .selected-task-panel {
  margin: 10px;
  font-size: larger;
}

.control-panel {
  background: #333333;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 7px #232323;
  margin: 10px;
  padding: 5px;
}


button.start { background: rgb(63, 103, 63); }
button.stop  { background: rgb(113, 60, 60); }


.science-gothic-font {
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
}

.task {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

.playwrite-no-font {
  font-family: "Playwrite NO", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

button {
  font-family: "Oswald", sans-serif;
  font-weight: 550;
  font-optical-sizing: auto;
}


.selected-task .task-input {
  background-color: #3e3e3e;
}

.edited-task .task-input {
  cursor: text;
}

.task-input {
  width: 90%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  border: none;
  padding: 3px;
  background-color: #303030;
  text-align: center;
  font-size: larger;
  caret-color: transparent;
  cursor: pointer;
}

.task-input:focus {
  border: none;
  outline: none;
}

.hidden {
  visibility: hidden;
}


nav {
  display: flex;
  flex-direction: row;
  background-color: rgb(20, 20, 20);
  position: sticky;
  top: 0;  
  overflow: scroll;
}

nav p {
  margin: auto 5px;
  padding: 0.4em 3em;
  background-color: #222222;
  border-radius: 10px;
}

.current {
  padding: 1em 3em;
  background-color: #222222;
}
.task-area {
  display: flex;
  flex-direction: row;
  overflow: auto;
  padding: 0;
  margin: 0;
}

.task-plateau {
  width: 60%;
  height: 100%;
}

.location-bar {
  padding: 5px;
  text-align: left;
  background-color: #222222;
  font-size: small;
  color: #818181;
}

.task-info-panel {
  background-color: #303030;
  width: 40%;
}

.task-info-panel .title {
  font-size: 3em;
  background-color: #474646;
  border-radius: 10px;
  margin: 10px;
}
.inline-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}


.presence-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: #232323;
}

.pomodoro-box {
  background-color: #3e3e3e;
}

.time-input {
  padding: 0.25em 0.4em; 
  width: 5ch;
  padding: 0.2em;
  text-align: center;
  font-size: 1rem;

  border: none;
  outline: none;
  background-color: #292929;
  border-radius: 6px;

  box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.time-input:hover {
  background-color: #252525;
}

.time-input:focus {
  background-color: #202020;
}
