
.pomodoro-box {
  background-color: #3e3e3e;
  border-radius: 5px;
  margin: 5px;
  
}
.pomodoro-box button {
  background-color: #3e3e3e;
  transition: all var(--transition-time-short);
}
.pomodoro-box button:hover {
  border-color: #3e3e3e;
  background-color: rgb(53, 53, 53)
}

.pomodoro-box:hover {
  border: 1px blue;
}

.time-input {
  padding: 0.25em 0.4em; 
  width: 5ch;
  padding: 0.2em;
  text-align: center;
  font-size: 1rem;
  margin: 2px;

  border: none;
  outline: none;
  background-color: #292929;
  border-radius: 6px;

  box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.time-input:hover {
  background-color: #252525;
}

.time-input:focus {
  background-color: #202020;
}

.duration-set {

}


.time-display {

}